.eq-area,.eq-level,.eq-year,.eq-freq{
    text-align: center;
}
tr,td,th{
    border:solid 1px black;
}

thead{
    background-color: #3b9dff;
    color:white;    
}

tr:nth-child(2n){
    background-color: #dfeffde0;
}

.trans-btn{
    position: absolute;
    top:0;
    right:0;
}