.chart_body {
    height: 1350px;
}

.replace {
    margin: 0 auto;
    width: 1070px;
}

.case {
    width: 500px;
    height: 500px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    background-color: white;
}

.chart_box {
    float: left;
    margin: 20px;
}

.polarity, .association, .keywordTransition {
    display: none;
}
.form-control {
    width: 200px;
}

body {
    background-color: #f8f9fa !important;
}

.title {
    margin-bottom: 30px;
    width: 500px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.temp {
    text-align: center;
}

.box {
    width: 250px;
    display: inline-flex;
}

.percent {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.input-group {
    margin: 0 30px;
}

.upper_chart {
    margin: 0 auto;
    padding-top: 30px;
    width: 1080px;
    height: 680px;
}

.lower_chart {
    width: 100%;
}
 
#base_data {
    float: left;
    clear: left;
    margin: 25px;
	width: 450px;
    height: 450px;
    background-color: white;
}

#word_cloud {
    float: right;
    clear: right;
    margin: 25px;
    width: 450px;
    height: 450px;
}

#stacked_column {
    display: inline-block;
    width: 1100px;
    height: 500px;
    text-align: center;
}

.custom-control {
    display: inline-block;
    margin: 5px 10px;
}

#sub {
    background-color: #343a40;
}


#searchButton {
    margin: 20px 10px;
    width: 100px;
    height: 50px;
}

.fas.fa-search {
    font-size: 2em;
}

#searchBox {
    width: 120px;
    text-align: center;
}

.form {
    margin-bottom: 20px;
}
