#map {
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 2em;
}

.input-group {
    margin: 0 auto;
    width: 30%;
    border-radius: 2em;
}

#address {
    border-radius: 2em 0 0 2em;
}

#submit_button {
    border-radius: 0 2em 2em 0;
    border: 1px solid lightgray;
}

.fas.fa-map-marker-alt {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #00e64d;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
